/* Landmarks */
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #d7d9d3;
    color: #1e2019;
    font-family: "Arial", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    text-align: left;
    padding: 20px 0;
    background-color: #262a2c;
}

nav {
    display: flex;
    align-items: center;
    background-color: #262a2c;
    color: #e2c044;
    padding: 0 0 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

nav li {
        /* Adds space between each list item */
}

nav a {
    color: #e2c044;
    text-decoration: none;
    font-size: 1.5em;          /* Adjust font size as needed */
}

nav a:hover {
    color: #ff6347; /* Change color on hover */
}

main {
    min-height: 100vh;
}

footer {
    background-color: #262a2c;
    color: #d7d9d3;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: absolute;
}

/* Elements */
#wrapper {
    flex: 1;
}

#title {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.2rem;
    color: #e2c044;
    font-size: 4em;
    margin-left: 40px;
}

#social-icons {
    display: flex;
    justify-content: left;
    padding: 20px 0;
    list-style-type: none;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

#social-icons li {
    margin: 0 15px 0 0;
}

#social-icons a {
    color: #d7d9d3;
    text-decoration: underline;
}

#social-icons a:hover {
    color: #e2c044;;
    text-decoration: none;
}

#social-icons a:focus {
    color: #e2c044;;
    text-decoration: none;
}

/* Breakpoints */

/* Mobile (small screens) */
@media (max-width: 480px) {
    /* Add styles specific to small screens here */
    header {
        text-align: center;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }
  }
  
  /* Mobile (larger screens) */
  @media (min-width: 481px) and (max-width: 768px) {
    /* Add styles specific to medium screens (tablets and larger phones) */
    body {
        height: auto; /* Allow body to grow naturally */
    }
      
    footer {
        position: static; /* Footer won't be fixed to the bottom */
    }
    
    header {
        text-align: center;
    }

    main {
        margin-left: 20px;
        margin-right: 20px;
    }

    nav ul {
        margin-left: 20px;
        margin-right: 20px;
    }
  }
  
  /* Tablet (portrait and small laptops) */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Add styles specific to tablets and small laptops */
    body {
        height: auto; /* Allow body to grow naturally */
    }
      
    footer {
        position: static; /* Footer won't be fixed to the bottom */
    }

    main {
        margin-left: 40px;
        margin-right: 40px;
    }
  }
  
  /* Laptop/Desktop */
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* Add styles specific to laptops and medium-sized desktops */
    main {
        margin-left: 40px;
        margin-right: 40px;
    }
  }
  
  /* Desktop (larger screens) */
  @media (min-width: 1281px) {
    /* Add styles specific to larger desktops */
    main {
        margin-left: 40px;
        margin-right: 40px;
    }
  }