/* Landmarks */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #d7d9d3;
    color: #162521;
    font-family: "Arial", Helvetica, sans-serif;
}

header {
    width: 100%;
    text-align: left;
    padding: 20px 0;
    background-color: #162521;
}

nav {

}

main {
    margin-left: 20px;
}

/* Elements */
#title {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0.2rem;
    color: #e2c044;
    font-size: 2.5em;
    margin-left: 20px;
}

/* Breakpoints */

/* Mobile (small screens) */
@media (max-width: 480px) {
    /* Add styles specific to small screens here */
    header {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background-color: #162521;
    }
  }
  
  /* Mobile (larger screens) */
  @media (min-width: 481px) and (max-width: 768px) {
    /* Add styles specific to medium screens (tablets and larger phones) */
    header {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        background-color: #162521;
    }
  }
  
  /* Tablet (portrait and small laptops) */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Add styles specific to tablets and small laptops */
  }
  
  /* Laptop/Desktop */
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* Add styles specific to laptops and medium-sized desktops */
  }
  
  /* Desktop (larger screens) */
  @media (min-width: 1281px) {
    /* Add styles specific to larger desktops */
  }